################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/student/backend/dotnet/ef/Student/.vs/Student
/student/backend/dotnet/ef/Student/Infrastructure/obj
/student/backend/dotnet/ef/Student/Infrastructure/bin/Debug/net9.0
/student/backend/dotnet/ef/Student/Domain/bin/Debug/net9.0
/student/backend/dotnet/ef/Student/Domain/obj
/student/backend/dotnet/ef/Student/Application/bin/Debug/net9.0
/student/backend/dotnet/ef/Student/Application/obj
